{% extends 'includes/base.html' %}

{% block 'content' %}
   <body>
<blockquote>
   <div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 50px;">
      <div style="width: 90vw; display: flex; justify-content: space-between;">
          <div style="width: 40vw;">
               <p class="pink">
                  {% if language == 'ru' %}
                  <font color="red"><strong>рус</strong></font>
                  {% else %}
                  <a href="{% url 'change_filter' param='language' value='ru' %}">рус</a>
                  {% endif %}
                  /
                  {% if language == 'ua' %}
                  <font color="red"><strong>укр</strong></font>
                  {% else %}
                  <a href="{% url 'change_filter' param='language' value='ua' %}">укр</a>
                  {% endif %}
                  /
                  {% if language == 'en' %}
                  <font color="red"><strong>eng</strong></font>
                  {% else %}
                  <a href="{% url 'change_filter' param='language' value='en' %}">eng</a>
                  {% endif %}
                  <br>
               </p>
             {% if not user.is_sub_active %}
             <div>
                <h1>{{locale.sub_expired}}</h1>
                <a href="{% url 'pay_create' %}">{{locale.buy}}</a>
             </div>
             {% endif %}
              <form action="" method="POST" style="display: flex; flex-direction: column;">
                 {% csrf_token %}
                  <h1>{{locale.profile_change}}</h1>
                  <input name="email" type="email" placeholder="{{locale.enter_email}}" value="{{user.email}}">
                  <div style="height: 10px;"></div>
                  <input name="password" type="password" placeholder="{{locale.enter_password}}">
                  <div style="height: 10px;"></div>
                  <button type="submit">{{locale.change}}</button>
                 <div style="height: 10px;"></div>
                 <a href="{% url 'logout' %}">{{locale.logout}}</a>
                 <a href="{% url 'index' %}">{{locale.home}}</a>
              </form>
          </div>
         <div style="width: 40vw;">
         </div>
      </div>
   </div>
</blockquote>

   </body>
{% endblock %}