{% extends 'includes/base.html' %}

{% block 'content' %}
   <body>
<blockquote>
   <div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 50px;">
      <div style="width: 90vw; display: flex; justify-content: space-between;">
          <div style="width: 40vw;">
               <p class="pink">
                  {% if language == 'ru' %}
                  <font color="red"><strong>рус</strong></font>
                  {% else %}
                  <a href="{% url 'change_filter' param='language' value='ru' %}">рус</a>
                  {% endif %}
                  /
                  {% if language == 'ua' %}
                  <font color="red"><strong>укр</strong></font>
                  {% else %}
                  <a href="{% url 'change_filter' param='language' value='ua' %}">укр</a>
                  {% endif %}
                  /
                  {% if language == 'en' %}
                  <font color="red"><strong>eng</strong></font>
                  {% else %}
                  <a href="{% url 'change_filter' param='language' value='en' %}">eng</a>
                  {% endif %}
                  <br>
               </p>
              <form action="" method="POST" style="display: flex; flex-direction: column;">
                 {% csrf_token %}
                  <h1>{{locale.welcome}}</h1>
                 <a href="{% url 'login' %}">{{locale.login}}</a>
                  <a href="{% url 'sign_up' %}">{{locale.sign_up}}</a>
              </form>
          </div>
         <div style="width: 40vw;">
         </div>
      </div>
   </div>
</blockquote>

   </body>
{% endblock %}